header {
    /**/border: 1px solid black;
    height: 75px;
}

main {
    /*border: 1px solid black;
    */
    margin: 0px;
    background-color: rgb(229, 243, 246);
    min-height: 300px;
}

footer {
    /**/border: 1px solid black;
    height: 75px;
}

/*прописываем чтобы размеры задавались от значения блока с контентом*/
*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    text-align:center;
    align-content: center;
    margin: 0;
}

p {
    text-align:justify;
    align-content: center;
    margin: 0;
}

span {
    align-content: center;
}

.window-with-info-about-page {
    background-color: rgb(210, 230, 235);
    border: 2px solid black;
    border-radius: 0.5cm;
    margin: 5px auto;

    min-height: 200px;
    width: 400px;
}

.info-on-the-page {
    /*border: 1px solid black;*/
    border-radius: 0.1cm;
    margin: 10px auto;

    min-height: 50px;
    width: 90%;

    color: rgb(133, 136, 241);

    font-size: 8ch;
}

.question-conclusion {
    /**/border: 1px solid black;
    margin: 10px;

    min-height: 100px;

    color: rgb(133, 136, 241);
    font-size: 5ch;
}
.clarification-output {
    /**/border: 1px solid black;
    margin: 10px;

    min-height: 50px;

    color: rgb(133, 136, 241);
    font-size: 5ch;
}

.results {
    display: block;
    margin: 10px auto;
    align-content: center;
    width: 90%;

    /**/border: 2px solid black;
    min-height: 50px;

    font-size: 3ch;
}

.inputs {
    margin: 5px 20px;
    height: 30px;
    width: 90%;

    font-size: 3ch;
}

.input-value {
    display: block;
    margin: 10px auto;

    text-align:center;
    align-content: center;

    height: 40px;
    width: 50%;

    font-size: 3ch;
}

.buttons {
    display: block;
    font-size: 15px;
    background-color: rgb(42, 46, 110);
    color: white;

    border-style: none;
    border-radius: 0.25cm;
    margin: 10px auto;
    padding: 0px;

    height: 50px;
    width: 80%;
    text-transform: uppercase;

    font-size: 2.5ch;
}

.buttons:hover {
    background-color: rgb(100, 142, 225);
}

.broken-buttons {
    display: block;
    font-size: 15px;
    color: black;

    border-style: none;
    border-radius: 0.25cm;
    margin: 10px auto;

    height: 50px;
    width: 80%;
    text-transform: uppercase;
    background-color: rgba(196, 196, 196, 0.942);
}