{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestApp</title>
    <link rel="stylesheet" href= "{% static "deps/css/app.css" %}">

</head>
<body>

    <header>
        <h1>Красивая шапка приложения</h1>
    </header>

    <main>
        <!---->
        <div id="page2" class="window-with-info-about-page">
            <h2 class="info-on-the-page">МЕНЮ</h2>

            <button class="buttons" id="to-select-a-security">Отобрать ценную бумагу</button>
            <button class="buttons" id="papers-that-passed-survey">Бумаги прошедшие опрос</button>
            <button class="buttons" id="database-of-questions">БД вопросов</button>
            
            <button class="buttons" id="">Выйти из приложения</button>

        </div>
        <!---->

        <!---->
        <div id="page3" class="window-with-info-about-page">
            <h2 class="info-on-the-page">ВЫБЕРИТЕ ОТРАСЛЬ</h2>

            <button class="buttons broken-buttons" id="information-technology">IT</button>
            <button class="buttons broken-buttons" id="telecommunications">Телекоммуникации</button>
            <button class="buttons " id="oil-and-gas">Нефть и газ</button>
            <button class="buttons broken-buttons" id="metal-mining">Добыча металлов</button>
            <button class="buttons broken-buttons" id="electric-power-industry">Электроэнергетика</button>
            <button class="buttons broken-buttons" id="finance">Финансы</button>

            <button class="buttons" id="back-in-menu">Назад</button>
        </div>
        <!---->

        <!---->
        <div id="page4" class="window-with-info-about-page">
            <h2 class="info-on-the-page">ЗАПОЛНИТЕ ФОРМУ</h2>

            <section class="complection-form">
                <span>Название компании:</span>
                <input type="text" class="inputs" placeholder="Название">
            </section>
            
            <section class="complection-form">
                <span >Вид ценной бумаги:</span>
                <input type="text" class="inputs" placeholder="акция/облигация">
            </section>
                
            <section class="complection-form">
                <span>Cтоимость бумаги:</span>
                <input type="text" class="inputs" placeholder="стоимость">
            </section>

            <button class="buttons" id="the-survey">Перейти к опросу</button>
            <button class="buttons" id="back-in-choos-industry">Назад</button>
        </div>
        <!---->

        <!---->
        <div id="page5" class="window-with-info-about-page">
            <p class="question-conclusion">
                Поле для вывода вопроса
            </p>

            <p class="clarification-output">Пояснение</p>          
            <input type="text" class="input-value" placeholder="значение">

            <button class="buttons">Ответить</button>
            <button class="buttons" id="back-in-output-question">Назад</button>
        </div>
        <!---->

        <!---->
        <div id="page6" class="window-with-info-about-page">

            <h2 class="info-on-the-page">ИТОГ</h2>

            <span class="results">Название компании: %%</span>
            <span class="results">Вид ценной бумаги: %%</span>
            <span class="results">Стоимость бумаги: %%</span>
            <span class="results">Набранный балл: %%</span>
            <span class="results">Вывод итогового ответа %%</span>

            <button class="buttons" id="complete-survey">Завершить опрос</button>
            <button class="buttons" id="">Назад</button>
        </div>
        <!---->

    </main>
    <footer>
        <h2>Красивый футер приложения</h2>
    </footer>
    
    <script src="{% static "deps/js/app.js" %}"></script>
</body>
</html>
