{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestApp</title>
    <link rel="stylesheet" href="{% static "deps/css/app.css" %}">

</head>
<body>

    <header>
        <h1>Красивая шапка приложения</h1>
    </header>

    <main>

        <div id="page5" class="window-with-info-about-page">
            <p class="question-conclusion">
                %question%
            </p>
    
            <p class="clarification-output">%explanation%</p>          
            <input type="text" class="input-value" id="valueId" placeholder="значение">
    
            <button class="buttons" id="toAnswer">Ответить</button>
        </div>

    </main>
    <footer>
        <h2>Красивый футер приложения</h2>
    </footer>
    
    <!--<script src="./app.js"></script>-->
    <script src="{% static "deps/js/test.js" %}"></script>
</body>
</html>
