{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestApp</title>
    <link rel="stylesheet" href="{% static "deps/css/app.css" %}">

</head>
<body>

    <header>
        <h1>InvestApp</h1>
    </header>

    <main>
       
        <div id="page2" class="window-with-info-about-page">
            <h2 class="info-on-the-page">МЕНЮ</h2>
            <button class="buttons" id="to-select-a-security">Отобрать ценную бумагу</button>
            <button class="buttons" onclick="document.location='/page7-Assets.html'"               id="papers-that-passed-survey">Бумаги прошедшие опрос</button>
            <button class="buttons" onclick="document.location='/page8-Questions.html'"     id="database-of-questions">вопросы</button>
            <button class="buttons" onclick="document.location='/page9-Multipliers.html'"   id="database-of-multipliers">мультипликаторы</button>
            {% if user.is_admin or user.is_staff %}
                <button class="buttons" onclick="document.location='../admin'" id="admin-panel">Админ панель</button>
            {% endif %}
            <button class="buttons" id="backToStart" onclick="document.location='../'">Выйти из приложения</button>
              
        </div>
        
    </main>
    <footer>
        <section>
            <ul>
                <li>Тел: +7(999)-999-99-99</li>
                <li>Почта: ivanov@mail.ru</li>
            </ul>
        </section>
    </footer>
    
    <script src="{% static "deps/js/app.js" %}"></script>
</body>
</html>
