{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestApp</title>
    <link rel="stylesheet" href={% static "deps/css/app.css" %}>


</head>
<body>

    <header>
        <h1>InvestApp</h1>
    </header>

    <main>
        <!---->
        <div id="page9" class="window-with-info-about-page">

            <h2 class="info-on-the-page">{{content}}</h2>

            <section>
                <table>
                    <tr>
                        <th>Вопрос</th>
                        <th>Эталонное значение</th>
                    </tr>
                    {% for question in questions %}
                        <tr>
                            <td><span>{{question.question}}</span></td>
                            <td><span>{{question.target_score}}</span></td>
                            <td><span></span></td>
                        </tr>
                    {% endfor %}
                    
                  </table>
            </section>

            <button class="buttons" onclick="document.location='../'" id="back-in-menu">Назад</button>
        </div>
        <!---->
    </main>

    <footer>
        <section>
            <ul>
                <li>Тел: +7(999)-999-99-99</li>
                <li>Почта: ivanov@mail.ru</li>
            </ul>
        </section>
    </footer>
    
    <!-- <script src="./app.js"></script> -->
</body>
</html>
